.search {
  min-width: 390px;
  margin: 0 auto;
  position: relative;
  padding: 25px;
  padding-bottom: 80px;
}

.topLine {
  display: flex;
  color: var(--Primary, #243130);
  margin: -10px 0 5px 0;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.wishlistCount {
  margin: 0;
}

.wishlistCountNumber {
  color: var(--Main-400, #389698);
  font-weight: bold;
}