.backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  z-index: 100;
}

.sheet {
  width: 100%;
  max-width: 390px; 
  max-height: 100vh;
  border-radius: 30px 30px 0 0;
  background: var(--White, #FEFEFE);
  padding: 20px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 101;
}

.handleArea{
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  cursor: grab;
}

.handle {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  background: var(--Gray-100, #DDDDDD);
  margin: 0 auto 20px;
}