.formContainer {
  display: flex;
  flex-direction: column;
  width: 316px;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #5B6B6A;
  margin-bottom: 4px;
}

.inputWrapper {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.textInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--Gray-100, #DDDDDD);
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  padding: 4px 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

.textInput::placeholder {
  font-weight: normal;
  color: var(--Gray-300, #5B6B6A);
}

.priceWrapper {
  margin: -8px 0 -4px 0;
}

.message {
  font-size: 12px;
  margin-top: 0;
}
.errorMessage { color: #eb0000; }
.successMessage { color: #008d02; }

.chipGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.chip, .button {
  display: flex;
  height: 32px;
  border: 1.5px solid #2F7F82;
  border-radius: 16px;
  color: #2F7F82;
  background: white;
  font-size: 14px;
  padding: 0 12px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
}

.button {
  flex-shrink: 0;
  width: 80px;
  border-radius: 5px;
  color: white;
  border-color: #243130;
  background-color: #243130;
}

.chip:hover {
  color: #2F7F82;
  background-color: #E5F2F1;
}

.button:hover {
  border-color: #5B6B6A;
  background-color: #5B6B6A;
}

.chipSelected {
  color: #fefefe;
  background-color: #2F7F82;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}