.header {
  width: 100%;
  height: 50px;

  display: grid;
  grid-template-columns: 32px 1fr 32px;
  align-items: center;

  padding: 0 16px;
  box-sizing: border-box;

  background: var(--color-main-000, #f7fbfa);
}

.left,
.right {
  display: flex;
  align-items: center;
  height: 100%;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.title {
  margin: 0;

  text-align: center;

  font-size: 18px;
  font-weight: 600;
  line-height: 1;

  color: #000;
}
