.buttonGroup {
  margin-top: 28px;
}

.loginLink {
  margin-top: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.loginLinkText {
  margin-left: 4px;
  font-weight: 600;
  color: #2f7f82;
  cursor: pointer;
  text-decoration: none;
}

.inputWithButton {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.label {
  font-size: 13px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.input {
  flex: 1;
  height: 50px;
  padding: 0 15px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  background: #f8f8f8;
  font-size: 14px;
  outline: none;
}

.input::placeholder {
  color: #b3b3b3;
  font-weight: 400;
}

.smallButton {
  width: 82px;
  height: 48px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background: #f8f8f8;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.confirmButton {
  width: 55px;
  height: 48px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background: #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.formField {
  margin-bottom: 20px;
}
