.text {
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.link {
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
