.chip {
  height: 30px;
  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid var(--color-main-500, #2f7f82);
  background: var(--color-text-white, #fefefe);
  color: var(--color-main-500, #2f7f82);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: var(--color-main-500, #2f7f82);
  color: var(--color-text-white, #fefefe);
}
