.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;      
  padding: 0 20px 40px;   
  background: transparent; 
  min-height: calc(100vh - 180px);
  position: relative;
  z-index: 1;
}


.headerContent {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageTitle {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #101828;
}

.pageDescription {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.0;
  color: #898989;
}

