.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  gap: 2px;
}

.label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-gray-300);
}

.time {
  font-size: 24px;
  font-weight: 700;
  color: #FE9B9A;
}

.barTrack {
  width: 100%;
  height: 15px;
  border-radius: 999px;
  background-color: var(--color-main-100);
  overflow: hidden;
}

.barFill {
  height: 100%;
  background-color: var(--color-main-400);
  border-radius: 300px;
  transition: width 1s linear;
}