.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  min-height: 80px;
  border: 1.5px solid var(--Gray-100, #DDDDDD);
  border-radius: 15px;
  padding: 10px 12px;
  margin-bottom: 3px;
}

.top {
  display: flex;
  align-items: center;
  gap: 7px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  color: var(--Primary, #243130);
  font-size: 14px;
}

.meta {
  color: var(--Primary, #243130);
  font-size: 12px;
  margin-top: -6px;
}

.time {
  text-align: right;
  font-size: 12px;
  color: var(--Gray-300, #5B6B6A);
  margin: 0;
}

/* SearchResult.tsx */
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.empty {
  font-size: 20px;
  font-weight: bold;
  color: var(--Gray-200, #9CA4A3);
  padding-top: 30px;
}

/* highlightMatch.tsx */
:global(.highlight) {
  background-color: transparent;
  color: var(--Main-500, #2F7F82);
  font-weight: 700;
}