.search {
  width: 100%;
  position: relative;
  padding: 20px 20px 80px;
  box-sizing: border-box;
}

.topLine {
  display: flex;
  color: var(--color-text-primary);
  margin: -10px 0 5px 0;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.wishlistCount {
  margin: 0;
}

.wishlistCountNumber {
  color: var(--color-main-400);
  font-weight: 700;
}
