.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 320px);
  align-items: center;
}

.inputGroup {
  width: 100%;
  max-width: 342px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 28px;
}

.submitButtonWrapper {
  margin-top: auto;
  width: 100%;
  max-width: 342px;
}