.chart {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: conic-gradient(
    #fbc247 0% 34%,
    #85ca88 34% 56%,
    #80acf8 56% 74%,
    #9c56f8 74% 90%,
    #ff8383 90% 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: -12px;
}

.innerCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #101828;
}
